alembic           
blinker   
click
colorama
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous 
Jinja2          
Mako             
MarkupSafe        
pip               
python-dotenv     
python-wtf        
setuptools        
SQLAlchemy        
typing_extensions 
Werkzeug          
WTForms         