<!DOCTYPE html>
<html>
<head>
    {% if titulo %}
        <title>{{ titulo }} Formularios</title>
    {% else %}
        <title>Formularios</title>
    {% endif %}
</head>
<body>
    <div>Proyecto Formularios en Flask: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('login') }}">Iniciar sesión</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {%endblock%}
</body>

</html>
