<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora &Iacute;ndice de masa corporal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Calculadora IMC</h1>
        <form action="/" method="post">
            <label for="peso">Peso (kg):</label>
            <input type="number" id="peso" name="peso" step="0.1" required>
            
            <label for="altura">Altura (m):</label>
            <input type="number" id="altura" name="altura" step="0.01" required>
            
            <button type="submit">Calcular</button>
        </form>
        {% if imc %}
            <div class="resultado">
                <h2>Su IMC es: {{ imc }}</h2>
                <p>{{ message }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>