<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suma de n&uacute;meros naturales.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/images.jpeg') }}" alt="Imagen logo">
        <h1>Ingrese un n&uacute;mero positivo:</h1>
        <form action="/" method="post">
            <label for="N=">N:</label>
            <input type="number" id="n" name="n" step="1" required>
            <button type="submit">Calcular</button>
        </form>
        {% if msg %}
            <div class="resultado">
                {% for mensaje in mensajes %}
                    <p> {{ mensaje }} </p>
                {% endfor %}    
            </div>
        {% else %}
            <div class="resultado">
                {% for mensaje in mensajes %}
                    <p> {{ mensaje }} </p>
                {% endfor %} 
            </div>  
        {% endif %}
    </div>
</body>
</html>