body {
    max-width: 640px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: beige;
}
h1, h2 {
    background-color: blue;
    padding: 10px;
    color: white
}
nav {
    background-color: sandybrown;
    color: white;
    margin: 5px;
    padding: 5px;
}
nav ul {
    display: flex;
    /*justify-content: space-around; */
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

.logo {
    display: block;
    max-width: 50%;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: lightblue;
    color: black;
}

